<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">

        <a class="navbar-brand" href="/index.html">
            <i class="fas fa-shopping-bag"></i> ShopHub
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>                    
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/product/product_list.html">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/categories.html">Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/contact_us.html">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/order/my_orders.html">
                        <i class="fas fa-shopping-cart"></i> Cart
                    </a>
                </li>

               

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/pages/auth/login.html"   id="authLink">
                        <i class="fa-solid fa-user"></i>  
                    </a>
                </li> -->

                <li class="nav-item dropdown" id="authNav">
                    <a class="nav-link" href="/pages/auth/login.html" id="authIcon">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>