<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">

        <a class="navbar-brand" href="/index.html">
            <i class="fas fa-shopping-bag"></i> ShopHub
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/product/product_list.html">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/categories.html">Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/static/contact_us.html">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pages/cart/cart.html">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="cartCount" class="badge bg-danger ms-1">0</span>
                    </a>
                </li>

                <!-- LOGIN -->
                <li class="nav-item" id="loginNav">
                    <a class="nav-link" href="/pages/auth/login.html">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>

                <!-- LOGOUT -->
                <li class="nav-item d-none" id="logoutNav">
                    <a class="nav-link" href="#" id="logoutBtn">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </li>

                <!-- ADMIN -->
                <li class="nav-item d-none" id="adminProductsLink">
                    <a class="nav-link" href="/pages/product/admin_products.html">
                        <i class="fa-solid fa-gear"></i> Admin Products
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
